<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Reusable Form Demo</title>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="" method="post">
            {{ form.csrf }}
 	    
	    <div class="form-group">
		<label for="name">{{ form.name.label }}</label>
		<input type ="text" class="form-control" id="name" name="name">
		<br>	
		<label for="title">{{ form.title.label }}</label>
		<input type ="text" class="form-control" id="title" title="title">
		<br>	
		<label for="phone">{{ form.phone.label }}</label>
		<input type ="text" class="form-control" id="phone" phone="phone">
		<br>	
		<label for="email">{{ form.email.label }}</label>
		<input type ="text" class="form-control" id="email" email="email" >
		<br>	
		<label for="date_start">{{ form.date_start.label }}</label>
		<input type ="text" class="form-control" id="date_start" date_start="date_start" placeholder="mm/dd/yyyy" >
		<br>	
		<label for="date_stop">{{ form.date_stop.label }}</label>
		<input type ="text" class="form-control" id="date_stop" date_stop="date_stop" placeholder="mm/dd/yyyy" >
		<br>
		<label for="event_name">{{ form.event_name.label }}</label>
		<input type ="text" class="form-control" id="event_name" event_name="event_name" placeholder="AAS meeting" >
		<br>
		<label for="event_start">{{ form.event_start.label }}</label>
		<input type ="text" class="form-control" id="event_start" event_start="event_start" placeholder="mm/dd/yyyy" >
		<br>
		<label for="event_stop">{{ form.event_stop.label }}</label>
		<input type ="text" class="form-control" id="event_stop" event_stop="event_stop" placeholder="mm/dd/yyyy" >
		<br>
		<label for="event_name">{{ form.event_name.label }}</label>
		<input type ="text" class="form-control" id="event_name" event_name="event_name">
		<br>
		<label for="event_attendeetype">{{ form.event_attendeetype.label }}</label>
		<input type ="text" class="form-control" id="event_attendeetype" event_attendeetype="event_attendeetype">
		<br>
		<label for="destination">{{ form.destination.label }}</label>
		<input type ="text" class="form-control" id="destination" destination="destination">
            <div class="input text">
                {{ form.stsci_employee.label }} {{ form.stsci_employee }}
            </div>
            <div class="input text">
                {{ form.external_organization.label }} {{ form.external_organization }}
            </div>
            <div class="input text">
                {{ form.wbs1.label }} {{ form.wbs1 }}
            </div>
            <div class="input text">
                {{ form.wbs2.label }} {{ form.wbs2 }}
            </div>
            <div class="input text">
                {{ form.wbs3.label }} {{ form.wbs3 }}
            </div>
            <div class="input text">
                {{ form.purpose_of_travel.label }} {{ form.purpose_of_travel }}
            </div>
	    <div class="input text">
		{{ form.empl_org_num.label }} {{ form.empl_org_num }}
	    </div>
	    <div class="input text">
		{{ form.travel_charges_org_num.label }} {{ form.travel_charges_org_num }}
	    </div>
 
            <div class="input submit">
                <input type="submit" value="Submit" />
            </div>
        </form>
    </body>
</html>
