<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Reusable Form Demo</title>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="" method="post">
            {{ form.csrf }}

 
            <h2> Travel Calculation </h2> 
            <div class="input text">
                    {{form.airfare.label}}{{form.airfare}}
            </div>
            <div class="input text">
                    {{form.days_in_hotel.label}}{{form.days_in_hotel}}
            </div>
            <div class="input text">
                    {{form.hotel_rate.label}}{{form.hotel_rate}}
            </div>

            <div class="input text">
                    {{form.hotel_parking.label}}{{form.hotel_parking}}
            </div>
            <div class="input text">
                    {{form.meal_days.label}}{{form.meal_days}}
            </div>
            <div class="input text">
                    {{form.meal_per_diem.label}}{{form.meal_per_diem}}
            </div>
            <div class="input text">
                    {{form.rental_car.label}}{{form.rental_car}}
            </div>
            <div class="input text">
                    {{form.other_car.label}}{{form.other_car}}
            </div>
            <div class="input text">
                    {{form.other_phone.label}}{{form.other_phone}}
            </div>
            <div class="input text">
                    {{form.other_other.label}}{{form.other_other}}
            </div>
            <div class="input text">
                    {{form.registration.label}}{{form.registration}}
            </div>

            {{output_str}}
 
            <div class="input submit">
                <input type="submit" value="Submit" />
            </div>
        </form>
    </body>
</html>
